.menu-bar{
    width: 30px;
    height: 2px;
    background-color: crimson;
    transition: transform   0.5s ease-in-out;
}

#toggle-menu:checked ~ .menu-bars >.bar-top{
    transform: translate(0px,10px) rotate(45deg);
}

#toggle-menu:checked ~ .menu-bars >.bar-mid{
    transform: scaleX(0);
}
#toggle-menu:checked ~ .menu-bars >.bar-bottom{
    transform: rotate(-45deg) translate(10px,-10px);
}

#toggle-menu:checked ~ .bar-list{
    display: flex;
}